.container {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--slate-50);
}

.contentContainer {
    width: 60%;
    height: calc(100dvh - 80px);
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bookmarkList {
    width: 100%;
    overflow: auto;
    height: calc(100dvh - 80px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.bookmarkList::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 4px;
    border-radius: 4px;
}

.bookmarkList::-webkit-scrollbar-track {
    background: var(--slate-100);
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid var(--slate-200);
}

.bookmarkList::-webkit-scrollbar-thumb {
    background: var(--slate-400);
    border-radius: 4px;
}

.bookmarkList::-webkit-scrollbar-thumb:hover {
    background: var(--slate-500);
    border-radius: 4px;
}


@media screen and (max-width: 800px) {
    .contentContainer {
        width: 95%;
        height: calc(100dvh - 70px);
        background-color: white;
        border-radius: 15px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bookmarkList {
        width: 100%;
        overflow: auto;
        height: calc(100dvh - 75px);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
    }
}