.container {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--slate-50);
}

.contentContainer {
    width: 80%;
    height: calc(100dvh - 80px);
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.leftContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 150px;
    height: auto;
    aspect-ratio: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header1 {
    color: var(--slate-500);
    font-weight: bold;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header2 {
    font-size: 14px;
    color: var(--slate-400);
    margin-top: 5px;
    margin-bottom: 5px;
}

.btnContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--slate-200);
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
    margin: 10px;
    background-color: white;
}

.btnIcon{
    color: var(--slate-500);
    margin: 5px;
}

.btnText{
    color: var(--slate-500);
    font-size: 20px;
    margin: 5px;
}

.btnContainer:hover{
    border: 1px solid var(--sky-300);
    box-shadow: 0 0 10px var(--sky-300);
    cursor: pointer;
}

.contentContainer::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 4px;
    border-radius: 4px;
}

.contentContainer::-webkit-scrollbar-track {
    background: var(--slate-100);
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid var(--slate-200);
}

.contentContainer::-webkit-scrollbar-thumb {
    background: var(--slate-400);
    border-radius: 4px;
}

.contentContainer::-webkit-scrollbar-thumb:hover {
    background: var(--slate-500);
    border-radius: 4px;
}

@media screen and (max-width: 800px) {
    .contentContainer {
        width: 95%;
        height: calc(100dvh - 70px);
        border-radius: 15px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
    
    .btnContainer{
        padding: 10px 20px 10px 20px;
        width: 70%;
    }

    .leftContainer{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .rightContainer{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}